.amazing-work-box {
	background-color: #e9edef;
}
.amazing-work-box h2 {
	margin-top: 0;
	padding-top: 95px;
}
.amazing-work-box .line-box {
	margin-bottom: 65px;
}
.amazing-work-list li {
	min-width: 75px;
	width: fit-content;
	font-weight: 400;
	font-size: 14px;
}
.amazing-work-list li:not(:first-child) {
	padding: 0 16px;
}
.amazing-work-item-box {
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	columns: 3;
}
.amazing-work-item,
.inner-amazing-item {
	height: 212px;
	width: 285px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.amazing-work-item,
.inner-amazing-item {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.creative-design-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}
.chain-icon,
.square-icon {
	width: 43px;
	height: 43px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #18cfab;
	border-radius: 50%;
}
.chain-icon {
}
div.square-icon-inner {
	height: 12px;
	width: 12px;
	background-color: #18cfab;
}
.creative-design-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.creative-design-text span:first-of-type {
	font-weight: 700;
	font-size: 14.1771px;
	color: #18cfab;
	line-height: 25px;
}
.creative-design-text span:last-of-type {
	font-weight: 300;
	font-size: 12.1518px;
	line-height: 25px;
	color: #8a8a8a;
}
.load-more-box {
	padding-bottom: 100px;
}
.load-more {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
	margin-top: 70px;
	width: 165px;
	height: 60px;
	background-color: #18cfab;
	border-radius: 5px;
	font-weight: 700;
	font-size: 14px;
	color: #ffffff;
	cursor: pointer;
}
.spinner-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
/* HOVER */

.creative-design-icon div:hover {
	fill: #ffffff;
	stroke: #ffffff;
	background-color: #18cfab;
}
.creative-design-icon .square-icon:hover .square-icon-inner {
	background-color: #ffffff;
}
.amazing-hover {
	opacity: 0;
	transition: all 0.7s ease;
}
.amazing-hover:hover {
	border: 2px solid #18cfab;
	backdrop-filter: blur(10px);
	opacity: 1;
}
