.everything-box {
	height: 475px;
	background-image: url(../image/everything/everything-bg.png);
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	text-align: center;
}
.everything-box h2 {
	padding-top: 126px;
	font-weight: 700;
	font-size: 40px;
	color: #18cfab;
}
.everything-box p {
	padding-top: 12px;
	margin-bottom: 62px;
	font-weight: 400;
	font-size: 16px;
	color: #d8d8d8;
}
.everything-btn-box {
	margin: 0 auto 143px;
}
