footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: #22353f;
	color: #aeaeae;
	font-weight: 300;
	font-size: 14px;
}
footer span a {
	color: #18cfab;
}
footer span {
	position: relative;
}
footer span span {
	margin-left: 16px;
}
footer span span::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 1px;
	height: 15px;
	left: -10px;
	top: 2px;
	background-color: #aeaeae;
}
