.gallery-box {
	background-color: white;
}
.gallery h2 {
	padding-top: 95px;
}
.gallery-grid-box {
	width: 100%;
	height: 885px;
	margin-top: 80px;
	display: grid;
	grid-template-columns: repeat(18, 1fr);
	grid-template-rows: repeat(17, 1fr);
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-gap: 10px 10px;
}
.gallery .load-more-box {
	margin: 0 auto;
	padding: 0;
	margin-bottom: 65px;
}
.gallery .load-more-box .load-more {
	margin-top: 0;
}
.image-gallery-0 {
	grid-area: 1 / 1 / 6 / 7;
}

.image-gallery-1 {
	grid-area: 6 / 1 / 11 / 7;
}

.image-gallery-2 {
	grid-area: 11 / 1 / 16 / 7;
}

.image-gallery-3 {
	grid-area: 1 / 7 / 7 / 13;
}

.image-gallery-4 {
	grid-area: 7 / 7 / 12 / 13;
}

.image-gallery-5 {
	grid-area: 12 / 7 / 17 / 13;
}

.image-gallery-6 {
	grid-area: 1 / 13 / 4 / 16;
}

.image-gallery-7 {
	grid-area: 1 / 16 / 4 / 19;
}

.image-gallery-8 {
	grid-area: 4 / 13 / 6 / 15;
}

.image-gallery-9 {
	grid-area: 4 / 15 / 6 / 17;
}

.image-gallery-10 {
	grid-area: 4 / 17 / 6 / 19;
}

.image-gallery-13 {
	grid-area: 6 / 17 / 8 / 19;
}

.image-gallery-11 {
	grid-area: 6 / 13 / 8 / 15;
}

.image-gallery-12 {
	grid-area: 6 / 15 / 8 / 17;
}

.image-gallery-14 {
	grid-area: 8 / 13 / 10 / 15;
}

.image-gallery-15 {
	grid-area: 8 / 15 / 10 / 17;
}

.image-gallery-16 {
	grid-area: 8 / 17 / 10 / 19;
}

.image-gallery-17 {
	grid-area: 10 / 13 / 16 / 19;
}
.image-gallery {
	position: relative;
}
.gallery-hover {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.54);
}
.gallery-hover:hover {
	opacity: 1;
}
.gallery-hover-icon-frst,
.gallery-hover-icon-scd {
	width: 27px;
	height: 27px;
	background-color: #14b9d5;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.gallery-hover-icon-scd {
	background-image: url(../image/gallery/zoom-arrow.svg);
}
.gallery-hover-icon-frst {
	background-image: url(../image/gallery/search-item.svg);
	margin-right: 30px;
}
.gallery-hover-icon-scd:hover,
.gallery-hover-icon-frst:hover {
	background-color: #18cfab;
}
