@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');

@import url(./header.css);
@import url(./main-frst-block.css);
@import url(./opportunity.css);
@import url(./main-scd-block.css);
@import url(./everything.css);
@import url(./amazing.css);
@import url(./spinner.css);
@import url(./news.css);
@import url(./people.css);
@import url(./gallery.css);
@import url(./footer.css);
* {
	font-family: 'Montserrat';
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main-container {
	width: 100%;
	margin: 0 auto;
}
.container {
	width: 1160px;
	margin: 0 auto;
}
.bold {
	font-weight: 700;
}
.span-text-green {
	color: #18cfab;
}
.capitalize {
	text-transform: capitalize;
}
.uppercase {
	text-transform: uppercase;
}
.disabled {
	display: none;
}
