.news {
}
.news-item {
	margin-top: 80px;
}
.news-item {
	position: relative; /* Добавлено свойство */
	width: 265px;
	height: 210px;
}
.news-item a img {
	width: 100%;
	height: 100%;
}
.news-item-text {
	position: absolute;
	width: 70px;
	height: 70px;
	right: 0;
	top: 0;
	pointer-events: none;
	background-color: #203e38;
}
.news-item-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
}
.new-name-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 55px;
}
.news-name {
	margin: 7px 0;
	color: #717171;
	font-weight: 700;
	font-size: 17.9885px;
}
.news-name-info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin: 5px 0;
	margin-right: 15px;

	color: #777777;
	font-weight: 300;
	font-size: 13.991px;
}
.author-name {
	position: relative;
}
.author-name::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0px;
	right: -15px;
	width: 1px;
	height: 15px;
	background-color: #777777;
}
.news-item-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 125px;
	gap: 30px;
}
/* HOVER */
.news-item a:hover .news-item-text {
	background-color: #18cfab;
}
.news-item:hover .news-name {
	color: #18cfab;
}
