.people-box {
	background-image: url(../image/people/people-bg.png);
	text-align: center;
	background-attachment: fixed;
}
.people h2 {
	color: #ffffff;
	font-weight: 400;
	font-size: 36px;
	padding-top: 100px;
}
.quote {
	width: 55px;
	height: 45px;
	margin: 0 auto;
	margin-top: 65px;
	background-image: url(../image/people/quote.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.people-text {
	display: block;
	width: 100%;
	max-height: 60px;
	padding-top: 35px;
	color: #bbbbbb;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
}
.people-slider-box {
	margin-top: 35px;
}
.people-info-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 35px;
}
.people-info-text-box {
	display: flex;
	flex-direction: column;
	margin-top: 35px;

	gap: 12px;
}
.people-info-name {
	color: #18cfab;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.people-info-job {
	color: #bbbbbb;
	font-size: 13px;
	font-weight: 300;
}
.people-main-photo {
	width: 142px;
	height: 142px;
	border: 10px solid #0f4a4a;
}
.mini-photo {
	cursor: pointer;
}
.mini-photo img,
.people-main-photo {
	border-radius: 50%;
	object-fit: cover;
}
.slider-people {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-top: 85px;
}
.people-info-box {
	padding-bottom: 100px;
}
.arrow {
	width: 31px;
	height: 31px;
	border: 1px solid #ffffff;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.left-arrow {
	background-image: url(../image/people/chevron-left.svg);
}
.right-arrow {
	background-image: url(../image/people/chevron-right.svg);
}
.mini-photo-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.mini-photo img {
	width: 60px;
	height: 60px;
	border: 3px solid #0f4a4a;
}
.active {
	animation: jump 0.5s infinite alternate;
}

@keyframes jump {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-20px);
	}
}

/* HOVER */
.left-arrow:hover,
.right-arrow:hover {
	background-color: #18cfab;
}

